<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.thebix.launch">

    <application>
        <activity
            android:name=".LaunchActivity"
            android:label="@string/activity_droidpet_title"
            android:screenOrientation="portrait" />
    </application>

</manifest>
